body{
  width: 100%;
  overflow-x: hidden;
}
.Main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 110%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

/* .content_1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */

.navbar_1 {
  width: 100%;
  display: table;
  z-index: 9999;
  position: absolute;
  text-align: center;
  margin-top: 30%;
  color: white;
}

.inner_1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}

/* ********************************************************************* Survol ************************************************************************* */

.survol_activer {
  color: red;
}

/* ****************************************************************************** FOOTER ******************************************************************** */
/* .context-dark,
 .bg-gray-dark,
 .bg-primary {
   color: rgba(255, 255, 255, 0.8);
   background-color: black;
 }

 .footer-classic a,
 .footer-classic a:focus,
 .footer-classic a:active {
   color: #ffffff;
 }

 .nav-list li {
   padding-top: 5px;
   padding-bottom: 5px;
 }

 .nav-list li a:hover:before {
   margin-left: 0;
   opacity: 1;
   visibility: visible;
 }

 ul,
 ol {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .social-inner {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding: 23px;
   font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.5);
 }

 .social-container .col {
   border: 1px solid #ffffff;
 }

 .nav-list li a:before {
   content: "\f14f";
   font: 400 21px/1 "Material Design Icons";
   color: #4d6de6;
   display: inline-block;
   vertical-align: baseline;
   margin-left: -28px;
   margin-right: 7px;
   opacity: 0;
   visibility: hidden;
   transition: .22s ease;
 } */


.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #0a0a0a;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

/* .text-uppercase:hover {
   opacity: 0.8;
   background-color: #f96005;
   font-size: 1rem;
   border-radius: 5px;
 } */

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
  color: orange;

}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
  color: orange;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
  color: orange;
}

/* *********************************************************************** RESPONSIVE TABS *************************************************************** */

#controlled-tab {
  justify-content: center;
}

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -10px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

/* **************************************************************************************************************************************************************/


header .item {
  height: 100vh;
  position: relative;
}

header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}

header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}

header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}

header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}

header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}

header .owl-nav .owl-prev:focus {
  outline: 0;
}

header .owl-nav .owl-prev:hover {
  background: #000 !important;
}

header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}

header .owl-nav .owl-next:focus {
  outline: 0;
}

header .owl-nav .owl-next:hover {
  background: #000 !important;
}

header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}

header:hover .owl-next {
  right: 0px;
  opacity: 1;
}

/* ********************************************************************************************************************************************************** */

body {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  font-family: 'Poppins', sans-serif;
}

.timeline {
  position: relative;
  padding: 4px 0 0 0;
  margin-top: 22px;
  list-style: none;
}

.timeline>li:nth-child(even) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  right: -100px;
}

.timeline>li:nth-child(odd) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  left: -100px;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
  min-height: 170px;
}

.timeline>li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  border: 7px solid #3b5998;
  border-radius: 100%;
  background-color: lightgray;
  box-shadow: 0 0 5px #4582ec;
  width: 200px;
  height: 200px;
  margin-left: -100px;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 30px 20px 20px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 22px;
  margin-bottom: 4px;
  padding: 0;
  color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 18px;
  color: #333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
  color: #808080;
}

/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 690px;
  width: 4px;
  height: 340px;
  background-color: lightgray;
  -ms-transform: rotate(-44deg);
  /* IE 9 */
  -webkit-transform: rotate(-44deg);
  /* Safari */
  transform: rotate(-44deg);
  box-shadow: 0 0 5px #4582ec;
}

/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 450px;
  width: 4px;
  height: 340px;
  background-color: lightgray;
  -ms-transform: rotate(44deg);
  /* IE 9 */
  -webkit-transform: rotate(44deg);
  /* Safari */
  transform: rotate(44deg);
  box-shadow: 0 0 5px #4582ec;
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }

  .timeline>li .line {
    display: none;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }

  .timeline>li .line {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }

  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    float: right;
    left: 0px;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }

  .timeline>li .line {
    display: none;
  }
}
/* *********Begin********* */
.main-timeline3 {
  overflow: hidden;
  position: relative
}

.main-timeline3:before {
  content: "";
  width: 10px;
  height: 100%;
  border: 3px solid #959595;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%)
}

.main-timeline3 .timeline {
  width: 50%;
  padding: 10px 60px 10px 100px;
  float: right;
  position: relative
}

.main-timeline3 .timeline:before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c47c48;
  border: 5px solid #fff;
  box-shadow: 0 0 1px 5px #c47c48;
  position: absolute;
  top: 42px;
  left: -20px
}

.main-timeline3 .timeline-content {
  display: block;
  background: #e9e9e7;
  padding: 70px 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2) inset;
  position: relative
}

.main-timeline3 .timeline-content:hover {
  text-decoration: none
}

.main-timeline3 .year {
  display: block;
  width: 80%;
  height: 50px;
  background: #c47c48;
  padding: 0 0 0 50px;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  line-height: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4) inset;
  border-radius: 10px 10px 10px 0;
  position: absolute;
  top: 20px;
  left: -20px
}

.main-timeline3 .year:before {
  content: "";
  border-top: 40px solid #c47c48;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  bottom: -60px;
  left: 0
}

.main-timeline3 .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4a4a4a
}

.main-timeline3 .description {
  font-size: 14px;
  color: #6f6f6f;
  margin: 0 0 5px
}

.main-timeline3 .timeline:nth-child(2n) {
  padding: 10px 100px 10px 60px;
  text-align: right
}

.main-timeline3 .timeline:nth-child(2n):before {
  left: auto;
  right: -20px;
  background: #bf3fc8;
  box-shadow: 0 0 1px 5px #bf3fc8
}

.main-timeline3 .timeline:nth-child(2n) .year {
  padding-right: 50px;
  border-radius: 10px 10px 0;
  left: auto;
  right: -20px;
  background: #bf3fc8
}

.main-timeline3 .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 20px solid transparent;
  left: auto;
  right: 0;
  border-top-color: #bf3fc8
}

.main-timeline3 .timeline:nth-child(2) {
  margin-top: 140px
}

.main-timeline3 .timeline:nth-child(odd) {
  margin: -140px 0 0
}

.main-timeline3 .timeline:nth-child(even) {
  margin-bottom: 60px
}

.main-timeline3 .timeline:first-child,
.main-timeline3 .timeline:last-child:nth-child(even) {
  margin: 0
}

.main-timeline3 .timeline:nth-child(3n):before {
  background: #ce3c41;
  box-shadow: 0 0 1px 5px #ce3c41
}

.main-timeline3 .timeline:nth-child(3n) .year {
  background: #ce3c41
}

.main-timeline3 .timeline:nth-child(3n) .year:before {
  border-top-color: #ce3c41
}

.main-timeline3 .timeline:nth-child(4n):before {
  background: #8cc43d;
  box-shadow: 0 0 1px 5px #8cc43d
}

.main-timeline3 .timeline:nth-child(4n) .year {
  background: #8cc43d
}

.main-timeline3 .timeline:nth-child(4n) .year:before {
  border-top-color: #8cc43d
}

@media only screen and (max-width:990px) {
  .main-timeline3:before {
    top: 8%
  }

  .main-timeline3 .timeline {
    padding: 10px 10px 10px 100px
  }

  .main-timeline3 .timeline:nth-child(2n) {
    padding: 10px 100px 10px 10px
  }
}

@media only screen and (max-width:767px) {
  .main-timeline3:before {
    width: 8px;
    top: 0;
    left: 12px;
    transform: translateX(0)
  }

  .main-timeline3 .timeline,
  .main-timeline3 .timeline:nth-child(even),
  .main-timeline3 .timeline:nth-child(odd) {
    width: 100%;
    float: none;
    text-align: left;
    padding: 0 0 0 60px;
    margin: 0 0 30px
  }

  .main-timeline3 .timeline:before,
  .main-timeline3 .timeline:nth-child(2n):before {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    top: 38px;
    left: 6px
  }

  .main-timeline3 .timeline:nth-child(2n) .year {
    right: auto;
    left: -20px;
    border-radius: 10px 10px 10px 0
  }

  .main-timeline3 .timeline:nth-child(2n) .year:before {
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: none;
    right: auto;
    left: 0
  }
}

 
ul {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body {
  font-family: 'Montserrat', sans-serif;

  .testimonial {
    padding: 100px 0;

    .row {
      .tabs {
        all: unset;
        margin-right: 50px;
        display: flex;
        flex-direction: column;

        li {
          all: unset;
          display: block;
          position: relative;

          &.active {
            &::before {
              position: absolute;
              content: "";
              width: 50px;
              height: 50px;
              background-color: #71b85f;
              border-radius: 50%;
            }
          }

          &.active {
            &::after {
              position: absolute;
              content: "";
              width: 30px;
              height: 30px;
              background-color: #71b85f;
              border-radius: 50%;
            }
          }

          &:nth-child(1) {
            align-self: flex-end;

            &::before {
              left: 64%;
              bottom: -50px;
            }

            &::after {
              left: 97%;
              bottom: -81px;
            }

            figure {
              img {
                margin-left: auto;
              }
            }
          }

          &:nth-child(2) {
            align-self: flex-start;

            &::before {
              right: -65px;
              top: 50%;
            }

            &::after {
              bottom: 101px;
              border-radius: 50%;
              right: -120px;
            }

            figure {
              img {
                margin-right: auto;
                max-width: 300px;
                width: 100%;
                margin-top: -50px;
              }
            }
          }

          &:nth-child(3) {
            align-self: flex-end;

            &::before {
              right: -10px;
              top: -66%;
            }

            &::after {
              top: -130px;
              border-radius: 50%;
              right: -46px;
            }

            figure {
              img {
                margin-left: auto;
                margin-top: -50px;
              }
            }

            &:focus {
              border: 10px solid red;
            }
          }

          figure {
            position: relative;

            img {
              display: block;
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              border: 4px solid #dff9d9;
              border-radius: 50%;
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              -webkit-transition: 0.3s;
              -o-transition: 0.3s;
              transition: 0.3s;
            }

            &:hover {
              &::after {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          }
        }

        &.carousel-indicators {
          li.active {
            figure {
              &::after {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          }
        }
      }

      .carousel {
        >h3 {
          font-size: 20px;
          line-height: 1.45;
          color: rgba(0, 0, 0, .5);
          font-weight: 600;
          margin-bottom: 0;
        }

        h1 {
          font-size: 40px;
          line-height: 1.225;
          margin-top: 23px;
          font-weight: 700;
          margin-bottom: 0;
        }

        .carousel-indicators {
          all: unset;
          padding-top: 43px;
          display: flex;
          list-style: none;

          li {
            background: #000;
            background-clip: padding-box;
            height: 2px;
          }
        }

        .carousel-inner {
          .carousel-item {
            .quote-wrapper {
              margin-top: 42px;

              p {
                font-size: 18px;
                line-height: 1.72222;
                font-weight: 500;
                color: rgba(0, 0, 0, .7);
              }

              h3 {
                color: #000;
                font-weight: 700;
                margin-top: 37px;
                font-size: 20px;
                line-height: 1.45;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  body {
    .testimonial {
      .row {
        .tabs {
          margin-right: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 567px) {} 

/* ********************************************************************************************************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif
}

.container .card {
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 500px;
}

.container .card .imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px;
  }
}

/*  */


.container__mag {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image__mag {
  overflow: hidden;
  height: 600px;
  width: 300px;
  position: relative;
  cursor: pointer;
  margin: 0 15px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
  transition: .5s;
  background-color: #efefef
}

.Image__mag:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-140%, -50%);
  background-color: rgb(0, 179, 255);
  opacity: 0.5;
  border-radius: 50%;
  transition: .8s
}

.Image__mag:hover:after {
  transform: translate(-50%, -50%)
}

.Image__mag:hover img {
  transform: translate(-50%, -50%) scale(1.3) rotate(20deg)
}

.img__0 {
  position: absolute;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .8s
}

i {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-2000px, -50%);
  color: #fff;
  transition: .8s;
  transition-timing-function: ease-in
}

.Image__mag:hover i {
  transform: translate(-50%, -50%);
  transition-timing-function: ease
}